
  <main class="ml-64 mt-auto h-[calc(100vh-1rem)] flex">
    <section
      class="w-[380px] h-full border-r border-neutral-800 flex flex-col bg-surface-container-lowest overflow-hidden"
    >
      <div class="p-4 border-b border-neutral-800 flex justify-between items-center">
        <h2 class="font-headline-md text-on-surface">Active Users</h2>
      </div>
      <div class="flex-1 overflow-y-auto custom-scrollbar p-3 space-y-2">
        <div
          class="flex items-center gap-3 p-3 bg-[#262626] rounded-lg cursor-pointer hover:bg-neutral-800 transition-colors border border-[#333]"*ngFor="let repo of repositories"
        >
          <div
            class="w-10 h-10 rounded-full bg-surface-container-highest flex items-center justify-center text-primary font-bold"
          >
            JD
          </div>
          <div class="flex-1 min-w-0" [routerLink]="['/repositories', repo.id]" >
            <p class="text-sm font-semibold text-neutral-100 truncate">{{repo.name}}</p>
            <p class="text-xs text-neutral-500 truncate">{{repo.description}}</p>
          </div>
        </div>
      </div>
    </section>
  </main>
