  <!-- SideNavBar -->
  <aside
    class="fixed left-0 top-0 h-full w-64 border-r border-neutral-800 bg-neutral-950 flex flex-col p-4 gap-2 font-['Inter'] text-sm antialiased z-50"
  >
    <nav class="space-y-1">
      <a
        routerLink="/usuarios"
        routerLinkActive="bg-blue-600 text-white"
        class="flex items-center gap-3 text-neutral-400 hover:text-neutral-100 hover:bg-neutral-900 font-medium rounded-md px-3 py-2 active:scale-95 transition-transform"
      >
        <span class="material-symbols-outlined" data-icon="group">group</span>
        Users
      </a>
      <a
        routerLink="/repositories"
        routerLinkActive="bg-blue-600 text-white"
        class="flex items-center gap-3 text-neutral-400 hover:text-neutral-100 hover:bg-neutral-900 font-medium rounded-md px-3 py-2 active:scale-95 transition-transform"
      >
        <span class="material-symbols-outlined" data-icon="folder">folder</span>
        Repositories
      </a>
    </nav>
  </aside>